input{
	height: 30px;
}
.droite{
	float:right;
	text-align: center;
}
.gauche{
	float:left;
	text-align: center;
}
.marge_nom{
	margin-left: 800px;
}
/*.position{
	margin-left: 330px;
	margin-right: 150px;
}*/
.moitie{
	width: 50%;
}
.couleur{
	background-color: #EEEEEE;
}
#invisible{
	border-width: 0;
}
#impr{

}
/*=======================================================================================
=====================================================================
================================================================================
===================== STYLING THE RADIO BUTTON ==========================================
============================================================*